{{>heading}}

{{#each data.product}}

{{>addcart}}

{{this.id}} {{this.title}} {{this.description}} 

<a href="/category{{this.category}}/details/{{this.id}}"> View product details</a> <br>


{{/each}}